.projects {
    text-align: center;
    background-color: #111;
    color: white;
    padding: 40px 20px;
}

.projects
h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: white;
}

.project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.project {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin: auto;
}

.project_logo{
    width: 100%;
}

@media (max-width: 665px) {
    .project {
        width: 80%;
        padding:10px
    }
}